app = "flood-support-org-backend"
primary_region = "bom"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 3000
min_machines_running = 0
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 1024
# krnn: Not a standard Fly.io machine type. Add details here if needed.
